/*
==========================================================================
   Global Website Styling
==========================================================================
*/

/*
* Main parts of the page.
* Header, Content/Body and Footer.
*/
body {
    background-color: rgba(46, 39, 50, 1.0);
    font-family: "Arial";
    margin: 0 auto;
}

body h1, h2 {
    text-align: center;
}

.pageHeader {
    background-color: rgba(232, 171, 85, 1.0);
    margin: 25px auto 0 auto;
    min-width: 700px;
    max-width: 870px;
    width: 70%;
    height: 100px;
}

.pageContent {
    background-color: rgba(252, 252, 252, 1.0);
    margin: 0 auto 0 auto;
    overflow: auto;
    min-width: 700px;
    max-width: 870px;
    width: 70%;
    min-height: 600px;
}

.pageFooter {
    background-color: rgba(91, 75, 99, 1.0);
    color: rgb(255, 255, 255);
    border-radius: 0 0 20px 20px;
    margin: 0 auto 20px auto;
    min-width: 700px;
    max-width: 870px;
    width: 70%;
    height: 50px;
    text-align: center;
}

/*
* Elements of the header section.
*/
.websiteLogo {
    position: relative;
    left: 50px;
    top: 25px;
}

.headerUserAccount {
    position: relative;
    float: right;
}

/*
* Event summary dialogs that will be
* listed on the website home page, and other
* pages throughout the website.
*/
.eventSummary {
    background-color: rgb(181, 82, 43);
    background-size: cover;
    margin: 10px auto 10px auto;
    width: 95%;
    height: 130px;
}

.eventSummary #titleAndDescription {
    position: relative;
    color: rgb(255, 255, 255);
    text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px,
    #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
    float: left;
    width: 80%;
    height: 100%;
}

.eventSummary #titleAndDescription p {
    position: absolute;
    bottom: 0;
    left: 20px;
}

.eventSummary #priceAndBuy {
    background-color: rgba(255, 255, 255, 0.25);
    float: left;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
}

.eventSummary #priceAndBuy #purchaseButton{
    border-radius: 10px;
    border-color: rgb(12, 12, 12);
    background-color: rgb(72, 72, 72);
    color: rgb(255, 255, 255);
    margin-top: 50px;
    width: 80%;
    height: 30px;
}

.eventSummary button {
    border-radius: 10px;
    border-color: rgb(86, 86, 86);
    background-color: rgb(90, 90, 90);
    color: rgb(255, 255, 255);
    width: 90px;
    height: 30px;
}